parameters:
    paths:
        - src
    level: 5
    checkMissingIterableValueType: false
    excludePaths:
        - src/*/*/Database/Factories/*
        - src/*/*/Tests/*
    ignoreErrors:
        - '#Method [a-zA-Z0-9\\_]+::getRepository\(\) should return#'

